In [2]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, LSTM, Activation
from keras.callbacks import TensorBoard
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.preprocessing import StandardScaler

Using TensorFlow backend.

In [3]:
df = pd.read_csv('../train.csv')
print(df.shape)
df.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
df_train = df.copy()
# df_train['month'] = pd.DatetimeIndex(df_train['datetime']).month
# df_train = df[df['datetime'] < '2011-02'].copy()
# df_train = df[(df['datetime'] > month_ini) & (df['datetime'] < month_end)].copy()
df_train['day'] = pd.DatetimeIndex(df_train['datetime']).day
df_train['dayofweek'] = pd.DatetimeIndex(df_train['datetime']).dayofweek
df_train['hour'] = pd.DatetimeIndex(df_train['datetime']).hour
df_train = df_train.drop('datetime', axis=1)
y = df_train['count'].copy()
df_train = df_train.drop(['casual','registered','count'], axis=1)
# df = df.drop(['casual','registered'], axis=1)
print(df_train.shape)
df_train.head()

(10886, 12)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,month,day,dayofweek,hour
0,1,0,0,1,9.84,14.395,81,0.0,1,1,5,0
1,1,0,0,1,9.02,13.635,80,0.0,1,1,5,1
2,1,0,0,1,9.02,13.635,80,0.0,1,1,5,2
3,1,0,0,1,9.84,14.395,75,0.0,1,1,5,3
4,1,0,0,1,9.84,14.395,75,0.0,1,1,5,4

In [15]:
X = df_train.values
Y = y.values
maxlen = 20
scaler = StandardScaler()
X = scaler.fit_transform(X)
X = X.reshape(len(X), 1, 12)
def new_model():
    n_features = 12
    # create model
    model = Sequential()
    model.add(LSTM(50, input_shape=(1, n_features), return_sequences=True, activation='relu'))
    model.add(LSTM(50, input_shape=(1, n_features), return_sequences=True, activation='relu'))
    model.add(LSTM(50, input_shape=(1, n_features), activation='relu'))
    model.add(Dense(1))
    model.add(Activation('linear'))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model
kr = KerasRegressor(build_fn=new_model, nb_epoch=100, batch_size=5, verbose=2)
%time kr.fit(X, Y, callbacks=[TensorBoard(log_dir='logs', histogram_freq=10)])

Epoch 1/100
34s - loss: 24776.4331
Epoch 2/100
32s - loss: 18386.3862
Epoch 3/100
32s - loss: 13897.9259
Epoch 4/100
33s - loss: 11858.3711
Epoch 5/100
31s - loss: 10139.5931
Epoch 6/100
31s - loss: 8438.7599
Epoch 7/100
31s - loss: 7097.3856
Epoch 8/100
34s - loss: 6219.9943
Epoch 9/100
32s - loss: 5623.3778
Epoch 10/100
33s - loss: 5361.9884
Epoch 11/100
33s - loss: 5080.8399
Epoch 12/100
32s - loss: 4915.0932
Epoch 13/100
31s - loss: 4807.3321
Epoch 14/100
31s - loss: 4694.1351
Epoch 15/100
32s - loss: 4649.9606
Epoch 16/100
34s - loss: 4444.0220
Epoch 17/100
35s - loss: 4374.0845
Epoch 18/100
34s - loss: 4249.7759
Epoch 19/100
35s - loss: 4203.6557
Epoch 20/100
33s - loss: 4125.2781
Epoch 21/100
35s - loss: 3956.0768
Epoch 22/100
34s - loss: 3900.1377
Epoch 23/100
32s - loss: 3905.0368
Epoch 24/100
33s - loss: 3824.8357
Epoch 25/100
33s - loss: 3744.3529
Epoch 26/100
31s - loss: 3687.6328
Epoch 27/100
32s - loss: 3676.3786
Epoch 28/100
32s - loss: 3579.1980
Epoch 29/100
31s - loss: 3561.9483
Epoch 30/100
31s - loss: 3452.8626
Epoch 31/100
32s - loss: 3414.3414
Epoch 32/100
32s - loss: 3477.7586
Epoch 33/100
32s - loss: 3326.9945
Epoch 34/100
32s - loss: 3412.0526
Epoch 35/100
32s - loss: 3323.9101
Epoch 36/100
32s - loss: 3285.8886
Epoch 37/100
32s - loss: 3303.8678
Epoch 38/100
32s - loss: 3187.0833
Epoch 39/100
32s - loss: 3208.2128
Epoch 40/100
33s - loss: 3130.5472
Epoch 41/100
32s - loss: 3114.7154
Epoch 42/100
33s - loss: 3084.1637
Epoch 43/100
31s - loss: 3013.6223
Epoch 44/100
31s - loss: 3004.3408
Epoch 45/100
31s - loss: 2980.5418
Epoch 46/100
32s - loss: 2937.6186
Epoch 47/100
32s - loss: 2918.2076
Epoch 48/100
32s - loss: 2846.1528
Epoch 49/100
32s - loss: 2870.2822
Epoch 50/100
32s - loss: 2798.9039
Epoch 51/100
32s - loss: 2776.1392
Epoch 52/100
32s - loss: 2752.6810
Epoch 53/100
32s - loss: 2752.4030
Epoch 54/100
32s - loss: 2665.1406
Epoch 55/100
31s - loss: 2683.4322
Epoch 56/100
31s - loss: 2674.6225
Epoch 57/100
31s - loss: 2615.8984
Epoch 58/100
31s - loss: 2572.4215
Epoch 59/100
32s - loss: 2543.4058
Epoch 60/100
32s - loss: 2526.7674
Epoch 61/100
32s - loss: 2501.6830
Epoch 62/100
31s - loss: 2497.0221
Epoch 63/100
32s - loss: 2446.3153
Epoch 64/100
32s - loss: 2442.9954
Epoch 65/100
33s - loss: 2411.5569
Epoch 66/100
31s - loss: 2439.8418
Epoch 67/100
31s - loss: 2351.2766
Epoch 68/100
31s - loss: 2303.2490
Epoch 69/100
31s - loss: 2308.5527
Epoch 70/100
31s - loss: 2271.0132
Epoch 71/100
31s - loss: 2374.6086
Epoch 72/100
31s - loss: 2230.2470
Epoch 73/100
31s - loss: 2253.5634
Epoch 74/100
31s - loss: 2230.2453
Epoch 75/100
32s - loss: 2154.7717
Epoch 76/100
31s - loss: 2194.3639
Epoch 77/100
31s - loss: 2192.7821
Epoch 78/100
31s - loss: 2131.1935
Epoch 79/100
31s - loss: 2090.7860
Epoch 80/100
31s - loss: 2117.4788
Epoch 81/100
31s - loss: 2064.3769
Epoch 82/100
32s - loss: 2062.2350
Epoch 83/100
33s - loss: 2099.3468
Epoch 84/100
31s - loss: 1967.6280
Epoch 85/100
32s - loss: 2037.8293
Epoch 86/100
32s - loss: 2003.3374
Epoch 87/100
31s - loss: 1932.6520
Epoch 88/100
31s - loss: 1975.0100
Epoch 89/100
32s - loss: 1977.5984
Epoch 90/100
32s - loss: 1899.0620
Epoch 91/100
31s - loss: 1927.2949
Epoch 92/100
31s - loss: 1809.9885
Epoch 93/100
31s - loss: 1814.1274
Epoch 94/100
31s - loss: 1825.2503
Epoch 95/100
31s - loss: 1808.3782
Epoch 96/100
33s - loss: 1741.2467
Epoch 97/100
31s - loss: 1761.2939
Epoch 98/100
34s - loss: 1710.0626
Epoch 99/100
32s - loss: 1722.3967
Epoch 100/100
34s - loss: 1782.8089

## Prediction

In [8]:
df_test = pd.read_csv('../test.csv')
df_test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [1]:
dft = df_test.copy()
dft['month'] = pd.DatetimeIndex(dft['datetime']).month
# dft = df_test[df_test['datetime'] < '2011-02'].copy()
# dft = df_test[(df_test['datetime'] > month_ini) & (df_test['datetime'] < month_end)].copy()
dft['day'] = pd.DatetimeIndex(dft['datetime']).day
dft['dayofweek'] = pd.DatetimeIndex(dft['datetime']).dayofweek
dft['hour'] = pd.DatetimeIndex(dft['datetime']).hour
dft = dft.drop('datetime', axis=1)
print(dft.shape)
dft.head()

NameError: name 'df_test' is not defined

In [ ]:
dft = scaler.transform(dft)
dft = dft.reshape(len(dft), 1, 12)
test_pred = kr.predict(dft)
test_pred[test_pred < 0] = 0

str_prediction = "datetime,count\n"
for i in range(0, len(test_pred)):
    datetime = df_test['datetime'][i]
    pred = int(round(test_pred[i]))
    str_prediction += "{},{}\n".format(datetime, pred)

# print(str_prediction)
f = open('pred_keras_lstm.csv','w')
f.write(str_prediction)
f.close()