In [1]:
import pandas as pd
bikes=pd.read_csv('../train.csv', index_col='datetime',parse_dates=True)

In [2]:
bikes.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0,0,1,1

In [3]:
bikes.rename(columns={'count':'total'},inplace=1)

In [12]:
bikes['temp'].max()

41.0

In [11]:
bikes['hour']=bikes.index.hour
bikes['temp_cut']=pd.cut(bikes.temp,[0,10,20,30])

In [18]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: No module named seaborn